body {
  font-size: 13px;
  line-height: 1;
  color: #000000;
  font-weight: normal;
  font-family: "PT Sans", "Arial", sans-serif;
}

h1 {
  font-size: 30px;
  line-height: 1;
  color: #32425c;
  font-weight: normal;
  font-family: "Cuprum", "Arial", sans-serif;
}

h2 {
  font-size: 30px;
  line-height: 1;
  color: #32425c;
  font-weight: normal;
  font-family: "Cuprum", "Arial", sans-serif;
}

h3 {
  font-size: 24px;
  line-height: 1;
  color: #ffffff;
  font-weight: bold;
  font-family: "Cuprum", "Arial", sans-serif;
}
